.grid-demo-item-block {
  border: solid 1px #999999;
  background: var(--adm-color-box);
  text-align: center;
  color: #999999;
  height: 100%;
}

.content {
  height: 120px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  user-select: none;
}
